.modal {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 250px;
  z-index: 3;
  /* top: -3rem; */
  top: 4.5rem;
}

.modal-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 200px;
}
