.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 15px;
}

/* .contact h2 {
  border-bottom: 2px solid black;
  width: max-content;
} */

.contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .contact {
    width: 300px;
    margin: 0 0;
  }
}
